alabaster==0.7.12
alpaca-trade-api==0.42
alpha-vantage==2.1.2
appnope==0.1.0
asn1crypto==1.2.0
asyncio-nats-client==0.10.0
-e git+http://git.atomm.de:800/root/atomm.git@9d592d8780eec330c13ef37ce2b6080337a56591#egg=atomm
attrs==19.3.0
awscli==1.16.296
Babel==2.7.0
backcall==0.1.0
botocore==1.13.32
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
Click==7.0
colorama==0.4.1
conda==4.7.12
conda-package-handling==1.6.0
coverage==4.5.4
cryptography==2.8
cycler==0.10.0
decorator==4.4.1
Deprecated==1.2.7
docutils==0.15.2
entrypoints==0.3
flake8==3.7.9
idna==2.8
imagesize==1.1.0
importlib-metadata==1.2.0
int-date==0.1.8
ipykernel==5.1.3
ipython==7.10.1
ipython-genutils==0.2.0
jedi==0.15.1
Jinja2==2.10.3
jmespath==0.9.4
joblib==0.14.1
jsonschema==3.2.0
jupyter-client==5.3.4
jupyter-core==4.6.1
kiwisolver==1.1.0
lru-dict==1.1.6
lxml==4.4.2
MarkupSafe==1.1.1
matplotlib==3.1.1
mccabe==0.6.1
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
more-itertools==8.0.0
mpmath==1.1.0
msgpack-python==0.5.6
mwparserfromhell==0.5.4
nbformat==4.4.0
numexpr==2.7.0
numpy==1.17.4
packaging==19.2
pandas==0.25.3
pandas-datareader==0.8.1
parso==0.5.1
patsy==0.5.1
pexpect==4.7.0
pickleshare==0.7.5
plotly==4.3.0
pluggy==0.13.1
prompt-toolkit==3.0.2
ptyprocess==0.6.0
py==1.8.0
pyasn1==0.4.8
pycodestyle==2.5.0
pycosat==0.6.3
pycparser==2.19
pyflakes==2.1.1
Pygments==2.5.2
pymarketstore==0.17
pyOpenSSL==19.1.0
pyparsing==2.4.5
pyrsistent==0.15.6
PySocks==1.7.1
pytest==5.3.1
python-dateutil==2.8.1
python-dotenv==0.10.3
pytz==2019.3
PyYAML==5.1.2
pyzmq==18.1.0
requests==2.22.0
retrying==1.3.3
rsa==3.4.2
ruamel-yaml==0.15.46
s3transfer==0.2.1
scikit-learn==0.22
scipy==1.3.1
seaborn==0.9.0
six==1.13.0
snowballstemmer==2.0.0
Sphinx==2.2.2
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
-e git+https://github.com/robindoering86/capstone_nf.git@78cf7d8629e5db0c06ea6069cfaa1704193d12dd#egg=src
statsmodels==0.10.1
stockstats==0.3.0
sympy==1.4
tables==3.6.1
toolz==0.10.0
tornado==6.0.3
tqdm==4.40.0
trading-calendars==1.11.1
traitlets==4.3.3
tzlocal==2.0.0
urllib3==1.24.3
wcwidth==0.1.7
websocket-client==0.56.0
websockets==8.1
wikitables==0.5.4
wrapt==1.11.2
xgboost==0.90
zipp==0.6.0
